.subjects h2 {
    text-align: center;
}

.subjects section {
    text-align: center;
}

.subjects article {
    display: inline-block;
    width: 30%;
    margin: 20px;
}

.subject-details {
    margin: auto;
    width: 70%;
}

input[type="submit"] {
    margin-top: 20px;
    margin-bottom: 20px;
}