nav {
    background: rgb(248, 241, 232);
    padding-left: 185px;
}
  
nav a {
    display: inline-block;
    background: burlywood;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}
  
nav a:hover {
    background: orange;
    cursor: pointer;
    color: white;
}
  